.navbar {
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}
.navbar ul {
    display: flex;
    gap: 1 rem;
}

.navbar ul li {
    list-style: none;
    padding: 0 5px;
}

.navbar ul li a {
    text-decoration: none;
}